.Dictionary section {
  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
  margin: 20px auto;
  border-radius: 6px;
  box-shadow: 0 8px 8px rgb(0 0 0 / 10%);
  width: 800px;
}

.Dictionary input {
  background: rgba(255, 255, 255, 0.9);
  color: #3c4245;
  width: 100%;
  padding: 6px 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.Dictionary p {
  font-size: 28px;
  font-weight: bold;
  margin: 0 0 8px;
}

.Dictionary .hint {
  font-size: 12px;
  margin: 5px 0 0 3px;
}

@media (max-width: 992px) {
  .Dictionary section {
    width: 90%;
  }
}

@media (max-width: 576px) {
  .Dictionary section {
    text-align: center;
  }

  .Dictionary p {
    font-size: 20px;
  }
}
